:root {
  --color-primary: #ffc100;
  --color-secondary: #292929;
  --color-tertiary: #434343;
  --color-border: #4d4d4d;
  --font-section-xl: normal normal 900 clamp(40px, 11.97vw, 230px) / 0.7 Termina;
  --font-section-xs: normal normal 300 clamp(24px, 2.3vw, 44px) / 1 Termina;
  --transition: all ease-out 0.3s;
}

/* GLOBAL */
body {
  font-family: termina, sans-serif;
  background-color: var(--color-secondary);
  color: #fff;
}

h1 {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1640px;
  margin: 0 auto;
}

.gallery h2,
.about h2,
.reviews h2 {
  font: var(--font-section-xl);
  color: var(--color-tertiary);
  text-transform: uppercase;
  text-align: center;
}

.location h2,
.partners h2,
.contact h2 {
  font: var(--font-section-xs);
  text-transform: uppercase;
  text-align: center;
  /*   margin-bottom: 3vw;
 */
}

/* HEADER SECTION */
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
header::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.1);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  position: absolute;
  z-index: -1;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HEADER - CONTACT BUTTON */
.contact-btn {
  display: inline-block;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  white-space: nowrap;
  transition: var(--transition);
  line-height: 1;
}
.contact-btn:hover,
.contact-btn:active {
  background-color: var(--color-primary);
  color: #000;
}
.contact-btn ul {
  display: inline-block;
  border-left: 1px solid var(--color-primary);
  padding: 10px 30px 10px 15px;
  font-size: 12px;
}
.contact-btn ul li:first-child {
  font-size: 16px;
  font-weight: bold;
}
.contact-btn::before {
  content: '';
  display: inline-block;
  height: 32px;
  width: 32px;
  background: url('../icons/service-light.svg') no-repeat center/contain;
  position: relative;
  top: -2px;
  left: 3px;
  margin: 0 10px;
  transition: background-image 0.3s;
}
.contact-btn:hover::before,
.contact-btn:active::before {
  background: url('../icons/service-dark.svg') no-repeat center/contain;
}

/* HEADER - LOGO */
.header .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  width: 236px;
  height: 32px;
}
.header .logo svg {
  width: 100%;
  height: 100%;
}

/* HEADER - MENU TOGGLE */
.menu-btn {
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 11;
}
.menu-btn:before,
.menu-btn:after {
  background-color: #fff;
  content: '';
  display: block;
  width: 36px;
  height: 4px;
  margin-left: auto;
  transition: all 200ms ease-in-out;
}
.menu-btn:before {
  box-shadow: 0 11px 0 #fff;
  margin-bottom: 18px;
}
.open.menu-btn:before {
  box-shadow: 0 0 0 #fff;
  transform: translateY(11px) rotate(45deg);
}
.open.menu-btn:after {
  transform: translateY(-11px) rotate(-45deg);
}
.menu-btn:hover:before,
.menu-btn:hover:after {
  background-color: #ffc100;
}
.menu-btn:hover:before {
  box-shadow: 0 11px 0 #ffc100;
}
.open.menu-btn:hover:before {
  box-shadow: 0 0 0;
}

/* HEADER - MENU OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(56px);
  backdrop-filter: blur(56px);
  transition: var(--transition);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.overlay div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: calc(100vh - 100px);
  overflow: auto;
  padding-bottom: 100px;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.overlay nav {
  margin-top: auto;
  padding-right: 40px;
  font-weight: 900;
  font-size: 70px;
  line-height: 100px;
  text-transform: uppercase;
  white-space: nowrap;
}

.overlay nav li a {
  height: 100%;
  display: inline-block;
}
.overlay nav li a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* HEADER - OVERLAY CONTACT BUTTON */
.overlay .contact-btn {
  margin-bottom: 20px;
  margin-top: auto;
}
.overlay .contact-btn ul {
  display: inline-block;
  border-left: 1px solid var(--color-primary);
  padding: 20px 30px;
  font-size: 24px;
}
.overlay .contact-btn ul li:first-child {
  font-size: 32px;
}

.overlay .contact-btn::before {
  height: 68px;
  width: 68px;
  margin: 0 30px;
  top: -3px;
}

/* MAIN CONTENT*/
/* HERO SECTION */
main {
  margin-top: 100px;
}

.hero {
  background: url('../images/intro-logo.png') no-repeat right top/44% auto;
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.05) 30%,
    rgb(0, 0, 0) 60%
  );
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.05) 30%,
    rgb(0, 0, 0) 60%
  );
}
.hero h1 {
  font-weight: 300;
  font-size: 92px;
  text-transform: uppercase;
  padding-top: 65px;
  margin-bottom: 10px;
  width: 850px;
}
.hero h1 strong {
  font-weight: 900;
  display: inline-block;
  width: 65%;
}
.hero p {
  width: 45%;
  line-height: 2;
  margin-bottom: 55px;
}
.hero a {
  display: inline-block;
  border: 1px solid var(--color-primary);
  padding: 18px 40px 17px;
  border-radius: 5px;
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
  transition: var(--transition);
  position: relative;
  z-index: 1;
}
.hero a:hover,
.hero a:active {
  background-color: var(--color-primary);
  color: #000;
}
.hero::after {
  content: '';
  display: block;
  height: 1280px;
  margin-top: -160px;
  background: url('../images/motorbike.png') no-repeat 50% / cover;
}

/* ABOUT SECTION */
.about {
  margin-top: -500px;
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
}
.about p {
  text-align: center;
  width: 45%;
  margin: 0 auto;
  line-height: 2.5;
  margin-top: 40px;
}
.about::after {
  content: '';
  display: block;
  height: 530px;
  background: url('../images/helmet.png') no-repeat center/contain;
}

/* SERVICES SECTION */
.services,
.gallery {
  margin-bottom: 200px;
}
.services ul {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.7;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services ul li img {
  width: 330px;
  height: 262px;
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}
.services ul li span {
  display: inline-block;
  width: 150px;
}

/* GALLERY SECTION */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.gallery {
  margin-bottom: 175px;
  position: relative;
}
.gallery ul {
  white-space: nowrap;
  overflow: hidden;
}
.gallery ul li {
  display: inline-block;
  margin-left: -5px;
  animation: 10s slide infinite linear;
}
.gallery img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}
.gallery::after {
  content: url('../icons/gallery-item.svg');
  height: auto;
  width: 40%;
  max-width: 760px;
  position: absolute;
  z-index: 2;
  top: 50px;
  right: 0;
}

/* .gallery ul li:first-of-type {
  transform: translateX(-100%);
}
.gallery ul li:last-of-type {
  transform: translateX(50%);
} */
/* .gallery {
  position: relative;
  height: fit-content;
  padding-bottom: 200px;
  overflow: hidden;
}

.gallery ul {
  height: 640px;
  width: 100%;
  margin-top: -35px;
}
.gallery ul li {
  position: absolute;
  left: 50%;
  width: 960px;
  height: 100%;
  transform: translateX(-50%);
}
.gallery ul li:first-of-type {
  transform: translateX(-150%);
}
.gallery ul li:last-of-type {
  transform: translateX(50%);
}
.gallery ul li img {
  max-width: 100%;
  height: auto;
} */
/* .gallery::before {
  content: '';
  height: 860px;
  width: 760px;
  position: absolute;
  z-index: 2;
  top: 80px;
  right: 0;
  background: url('../icons/gallery-item.svg') no-repeat center/contain;
} */

/* REVIEWS SECTION */
.reviews {
  text-align: center;
  margin-bottom: 7vw;
}
.reviews h3 {
  font-size: clamp(10px, 1.3vw, 25px); /* 25px */
  line-height: 2.1vw; /* 41px */
}
.reviews .slider {
  width: clamp(260px, 66.77vw, 1282px); /* 1282px */
  position: relative;
  height: fit-content;
  margin: 0 auto;
  border-radius: 1.56vw; /* 30px */
  border: 1px solid var(--color-border);
  background-color: #46464625;
  padding: 4.7vw 10.4vw 2.34vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.1vw;
}
.reviews blockquote {
  font-size: clamp(12px, 2.1vw, 40px);
  line-height: clamp(14px, 2.9vw, 55px);
  padding-top: clamp(16px, 1.3vw, 25px);
  position: relative;
  margin-bottom: 2.9vw;
}
.reviews blockquote::before,
.reviews blockquote::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 4.1vw;
  height: 4.7vw;
  background-color: #ffffff23;
  -webkit-clip-path: polygon(
    0 100%,
    30% 0,
    60% 0,
    30% 100%,
    40% 100%,
    70% 0,
    100% 0,
    70% 100%
  );
  clip-path: polygon(
    0 100%,
    30% 0,
    60% 0,
    30% 100%,
    40% 100%,
    70% 0,
    100% 0,
    70% 100%
  );
}
.reviews blockquote::before {
  top: 0;
  left: 2.1vw;
}
.reviews blockquote::after {
  bottom: 0.5vw;
  right: 5vw;
}
.reviews .slider span {
  font-size: clamp(8px, 0.83vw, 16px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .slider span img {
  width: 6.87vw;
  min-width: 50px;
}
.reviews .slider button {
  position: absolute;
  background: transparent;
  border: none;
  color: #fff;
  top: 50%;
  cursor: pointer;
}
.reviews button svg {
  width: clamp(30px, 6.25vw, 120px); /* 120px */
  height: clamp(15px, 3.125vw, 60px); /* 60px */
  fill: #fff;
}
.reviews button:hover svg,
.reviews button:active svg {
  fill: var(--color-primary);
}
.reviews .left-arrow {
  left: 0;
  transform: translate(-50%, -50%);
}
.reviews .right-arrow {
  right: 0;
  transform: translate(50%, -50%);
}
.reviews .selects span {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--color-border);
  width: 1.14vw; /* 48px - 26px = 22px */
  height: 1.35vw; /* 26px */
  transform: skew(-45deg);
  margin-right: 0.52vw;
}
.reviews .selects span:last-child {
  margin-right: 0;
}
.reviews .selects span.active-slide {
  background-color: var(--color-primary);
  height: 1.97vw;
  width: 1.66vw;
}

/* LOCATION SECTION */
.location {
  margin-bottom: 7vw;
  text-align: center;
}
.location address span {
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: clamp(6px, 1.05vw, 20px);
  line-height: 2;
  text-transform: uppercase;
  border: 1px solid var(--color-border);
  border-bottom: none;
  border-radius: 1.56vw 1.56vw 0px 0px;
  padding: 0.94vw 2.6vw;
  background-color: #46464625;
}
.location address div {
  width: clamp(300px, 57vw, 1090px);
  height: clamp(190px, 36vw, 690px);
  margin: 0 auto;
  border: 1px solid var(--color-border);
  border-radius: 1.05vw;
  overflow: hidden;
}
.location address div iframe {
  height: 100%;
  width: 100%;
}

/* PARTNERS SECTION */
.partners {
  margin-bottom: 7vw;
  text-align: center;
}
.partners ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 4.9vw;
}
.partners ul li {
  display: inline-block;
}
.partners ul li img {
  width: clamp(140px, 16.15vw, 310px);
  height: clamp(44.1px, 5.05vw, 97px);
}
.partners::after {
  content: url('../icons/contact-item.svg');
  display: inline-block;
  width: 1.25vw;
}

/* CONTACT SECTION */
.contact {
  margin-bottom: 3.5vw;
}
.contact address {
  font-style: normal;
  text-align: center;
  font-size: clamp(6px, 1.05vw, 20px);
  font-weight: 300;
  line-height: 2;
  text-transform: uppercase;
}
.contact address a {
  display: inline-block;
  font-size: clamp(32px, 5.2vw, 100px);
  font-weight: 900;
  line-height: 1;
}
.contact address a:hover,
.contact address a:active {
  color: var(--color-primary);
}

/* FOOTER */
footer {
  text-align: center;
  font-size: clamp(8px, 1.05vw, 20px);
  line-height: 2;
  padding-bottom: 2.5vw;
}
footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 10.8vw;
  background: url('../icons/footer-background.svg') no-repeat center/cover;
  margin-bottom: 3vw;
}

/* RESPONSIVE SECTION */
@media screen and (max-width: 1599px) {
  header .overlay div {
    padding-bottom: 80px;
  }
  header .overlay nav {
    font-size: 60px;
    line-height: 90px;
  }
  header .overlay .contact-btn ul {
    padding: 18px 27px;
    font-size: 22px;
  }
  header .overlay .contact-btn ul li:first-child {
    font-size: 29px;
  }
  header .overlay .contact-btn::before {
    height: 62px;
    width: 62px;
    margin: 0 27px;
    top: -3px;
  }

  .hero h1 {
    font-size: 80px;
    width: 750px;
    padding-top: 60px;
  }
  .hero::after {
    height: 1100px;
    margin-top: -130px;
  }

  .about {
    margin-top: -400px;
  }
  .about p {
    margin-top: 30px;
  }
  .about::after {
    height: 490px;
  }

  .services,
  .gallery {
    margin-bottom: 180px;
  }
  .services ul li img {
    width: 300px;
    height: 238px;
  }

  .gallery ul li {
    width: 800px;
  }
  /*   .gallery::after {
    width: 720px;
    top: 60px;
  } */

  /*   .gallery ul {
    margin-top: -30px;
    height: 782px;
  }
  .gallery::before {
    width: 691px;
    top: 65px;
  } */
}

@media screen and (max-width: 1399px) {
  header .overlay nav {
    font-size: 50px;
    line-height: 80px;
  }
  header .overlay .contact-btn ul {
    font-size: 18px;
    padding: 16px 24px;
  }
  header .overlay .contact-btn ul li:first-child {
    font-size: 24px;
  }
  header .overlay .contact-btn::before {
    height: 54px;
    width: 54px;
    margin: 0 20px;
    top: -2px;
  }
  .hero h1 {
    font-size: 68px;
    width: 625px;
    padding-top: 55px;
  }
  .hero p {
    margin-bottom: 45px;
  }
  .hero a {
    font-size: 16px;
    padding: 16px 36px 15px;
  }
  .hero::after {
    height: 900px;
    margin-top: -100px;
  }

  .about {
    margin-top: -350px;
  }
  .about::after {
    height: 450px;
  }

  .services,
  .gallery {
    margin-bottom: 160px;
  }
  .services ul li img {
    width: 260px;
    height: 207px;
  }

  /*  .gallery ul {
    margin-top: -25px;
    height: 533px;
  } */
  .gallery ul li {
    width: 800px;
  }
  /*  .gallery::after {
    width: 620px;
    top: 50px;
  } */
  /*  .gallery::before {
    height: 661px;
    width: 584px;
    top: 50px;
  } */
}
@media screen and (max-width: 1199px) {
  header .overlay div {
    padding-bottom: 60px;
  }
  header .overlay nav {
    font-size: 40px;
    line-height: 70px;
  }
  header .overlay .contact-btn ul li:first-child {
    font-size: 22px;
  }
  header .overlay .contact-btn ul {
    font-size: 14px;
    padding: 14px 22px;
  }
  header .overlay .contact-btn::before {
    height: 49px;
    width: 49px;
    margin: 0 15px;
    top: 1.5px;
  }
  .hero h1 {
    font-size: 56px;
    width: 525px;
    padding-top: 50px;
  }
  .hero::after {
    height: 800px;
    margin-top: -80px;
  }

  .about {
    margin-top: -300px;
  }
  .about::after {
    height: 410px;
  }

  .services,
  .gallery {
    margin-bottom: 140px;
  }
  .services ul li {
    font-size: 16px;
  }
  .services ul li img {
    width: 222px;
    height: 177px;
    margin-bottom: 30px;
  }

  /*  .gallery ul {
    margin-top: -20px;
    height: 457px;
  } */
  .gallery ul li {
    width: 700px;
  }
  .gallery::after {
    width: 50%;
    top: 30px;
  }
  /*   .gallery::before {
    height: 573px;
    width: 507px;
    top: 45px;
  } */
}

@media screen and (max-width: 991px) {
  .header .contact-btn ul {
    padding: 8px 24px 8px 13px;
    font-size: 9px;
  }
  .header .contact-btn ul li:first-child {
    font-size: 13px;
  }
  .header .contact-btn::before {
    height: 30px;
    width: 30px;
    margin: 0 8px;
    top: 1px;
  }
  header .overlay div {
    flex-direction: column;
    align-items: flex-start;
  }
  header .overlay nav {
    padding-right: 0;
  }
  header .overlay .contact-btn {
    margin-bottom: 0;
  }
  /* HERO */
  .hero {
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0.05) 30%,
      rgb(0, 0, 0) 55%
    );
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0.05) 30%,
      rgb(0, 0, 0) 55%
    );
  }
  .hero h1 {
    font-size: 44px;
    width: 400px;
    padding-top: 45px;
  }
  .hero p {
    margin-bottom: 35px;
    font-size: 14px;
  }
  .hero::after {
    height: 650px;
    margin-top: -70px;
  }

  .about {
    margin-top: -250px;
    font-size: 14px;
  }
  .about p {
    margin-top: 20px;
  }
  .about::after {
    height: 370px;
  }

  .services,
  .gallery {
    margin-bottom: 120px;
  }
  .services ul {
    row-gap: 40px;
  }
  .services ul li {
    flex-basis: 50%;
  }

  /*   .gallery ul {
    margin-top: -20px;
    height: 400px;
  } */
  .gallery ul li {
    width: 600px;
  }
  /*  .gallery::after {
    width: 460px;
    top: 40px;
  } */
}

@media screen and (max-width: 767px) {
  /* HEADER */
  header .header {
    justify-content: space-between;
  }
  header .header .contact-btn {
    display: none;
  }
  header .header .logo {
    position: static;
    transform: translateX(0);
  }
  header .overlay div {
    padding-bottom: 40px;
  }
  header .overlay nav {
    font-size: 30px;
    line-height: 60px;
  }
  header .overlay .contact-btn ul {
    font-size: 12px;
    padding: 12px 20px;
  }
  header .overlay .contact-btn ul li:first-child {
    font-size: 20px;
  }
  header .overlay .contact-btn::before {
    height: 44px;
    width: 44px;
    margin: 0 16px;
    top: 1.5px;
  }

  .hero {
    background: none;
    -webkit-mask-image: none;
    mask-image: none;
  }
  .hero h1 {
    font-size: 52px;
    width: 475px;
    padding-top: 40px;
  }
  .hero p,
  .about p {
    width: 70%;
  }
  .hero a {
    font-size: 14px;
    padding: 15px 32px 13px;
    border-radius: 3px;
  }
  .hero::after {
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0.05) 30%,
      rgb(0, 0, 0) 60%
    );
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0.05) 50%,
      rgb(0, 0, 0) 90%
    );
    margin-top: -50px;
    height: 525px;
  }

  .about {
    margin-top: -200px;
  }
  .about::after {
    height: 330px;
  }

  .services,
  .gallery {
    margin-bottom: 100px;
  }
  .services ul {
    justify-content: center;
  }
  .services ul li span {
    width: 125px;
    font-size: 14px;
  }
  .services ul li img {
    width: 202px;
    height: 161px;
    margin-bottom: 20px;
  }

  .gallery ul li {
    width: 500px;
  }

  .partners ul li {
    text-align: center;
    flex-basis: 35%;
  }
}

@media screen and (max-width: 575px) {
  /* HEADER */
  header {
    height: 75px;
  }
  header .header .logo {
    width: 204px;
    height: 28px;
  }
  header .menu-btn:before,
  header .menu-btn:after {
    width: 30px;
  }
  header .menu-btn:before {
    box-shadow: 0 9.16px 0 #fff;
    margin-bottom: 15px;
  }
  header .open.menu-btn:before {
    transform: translateY(9.16px) rotate(45deg);
  }
  header .open.menu-btn:after {
    transform: translateY(-9.16px) rotate(-45deg);
  }
  header .menu-btn:hover:before {
    box-shadow: 0 9.16px 0 #ffc100;
  }

  header .overlay nav {
    font-size: 20px;
    line-height: 45px;
  }

  header .overlay .contact-btn ul {
    font-size: 10px;
    padding: 10px 17px;
  }
  header .overlay .contact-btn ul li:first-child {
    font-size: 16px;
  }
  header .overlay .contact-btn::before {
    height: 36px;
    width: 36px;
    margin: 0 12px;
    top: 1.5px;
  }

  main {
    margin-top: 75px;
  }

  .hero {
    -webkit-mask-image: none;
    mask-image: none;
  }
  .hero h1 {
    font-size: 32px;
    width: 300px;
    padding-top: 25px;
  }
  .hero p {
    width: 300px;
    margin-bottom: 25px;
  }
  .hero a {
    font-size: 12px;
    padding: 13px 24px 11px;
  }
  .hero::after {
    height: 400px;
    margin-top: -20px;
  }
  .about {
    margin-top: -150px;
  }
  .about p {
    margin-top: 10px;
    width: 80%;
    line-height: 2;
  }
  .about::after {
    display: none;
  }

  .services,
  .gallery {
    margin-bottom: 80px;
  }
  .services ul {
    row-gap: 25px;
  }
  .services ul li img {
    width: 153px;
    height: 121px;
    margin-bottom: 15px;
  }

  /*  .gallery ul {
    margin-top: -9px;
    height: 266px;
  } */
  .gallery ul li {
    width: 400px;
  }
  .gallery::after {
    display: none;
  }

  .reviews .slider {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .reviews blockquote::before {
    top: 10px;
    left: 0;
  }
  .reviews blockquote::after {
    right: 0;
  }

  .partners::after {
    display: none;
  }
}

/* @media (min-width: 1599px) and (max-height: 700px) {
  .overlay div {
    padding-bottom: 10px;
  }
}
@media (min-width: 1399px) and (max-height: 630px) {
  .overlay div {
    padding-bottom: 10px;
  }
}
@media (min-width: 1199px) and (max-height: 580px) {
  .overlay div {
    padding-bottom: 10px;
  }
}
@media (min-width: 991px) and (max-height: 572px) {
  .overlay div {
    padding-bottom: 10px;
  }
}
 */
