:root {
  --bg-color: #292929;
  --primary-color: #ffc100;
  --transition: ease-out 0.3s;
  --title-section: normal normal 900 clamp(48px, 16px + 16vw, 230px) /
    clamp(48px, 16px + 16vw, 240px) Termina;
  --title-color: #434343;
}

body {
  min-height: 100vh;
  font-family: termina, sans-serif;
  background-color: var(--bg-color);
  color: #fff;
}

header {
  width: 100%;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.1);
  /*   backdrop-filter: blur(10px);
 */
  /*     position: fixed;
  top: 0;
  left: 0; */
}

/* main {
  overflow: hidden;
} */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 90vw;
  max-width: 1400px;
  margin: 0 auto;
}

.contact {
  flex-basis: 260px;
  min-width: 260px;
  margin-right: 50px;
  font-size: 12px;
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  white-space: nowrap;
}
.contact:hover,
.contact:active {
  background-color: var(--primary-color);
  color: #000;
  cursor: pointer;
  transition: var(--transition);
}

.contact__icon {
  padding: 0 15px;
}
.contact__icon svg {
  width: 32px;
  height: 32px;
  fill: #fff;
}
.contact:hover .contact__icon svg,
.contact:active .contact__icon svg {
  fill: #000;
  transition: var(--transition);
}

.contact__details {
  flex-basis: 75%;
  padding: 10px 15px;
  border-left: 1px solid var(--primary-color);
}
.contact__details a {
  font-size: 16px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  height: 68px;
}
.logo svg {
  width: 236px;
  height: 32px;
}

.menu-btn {
  /* margin-left: 280px; */
  flex-basis: 260px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}
.menu-btn svg {
  width: 30px;
  height: 30px;
  fill: white;
}
.menu-btn:hover svg,
.menu-btn:active svg {
  fill: var(--primary-color);
  cursor: pointer;
  transition: ease-out 0.3s;
}

.overlay-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(56px);
  transition: var(--transition);
  visibility: hidden;
  opacity: 0;
  z-index: -10;
}

.show {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.nav__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.nav__header .logo {
  flex-grow: 1;
  justify-content: center;
}
.spacer {
  min-width: 260px;
  margin-right: 50px;
}

.nav {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.nav__contact {
  margin-right: 0;
}

.nav__links {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: auto;
}
.nav__links .contact {
  margin-bottom: 15px;
}

.links {
  font-weight: 900;
  font-size: clamp(16px, 16px + 1.8vw, 60px);
  line-height: 80px;
  text-transform: uppercase;
  white-space: nowrap;
}
.links a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
main {
  position: relative;
}
.hero {
  display: flex;
  overflow: visible;
}
.hero__cta {
  flex-basis: 50%;
}
.hero__cta h1 {
  font-weight: 300;
  font-size: clamp(44px, 16px + 4vw, 80px);
  white-space: nowrap;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.hero__cta h1 span {
  font-weight: 900;
}
.hero__cta p {
  line-height: 2;
  margin-bottom: 40px;
}
.hero__cta a {
  display: inline-block;
  border: 1px solid var(--primary-color);
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 600;
  position: relative;
  z-index: 11;
}
.hero__cta a:hover,
.hero__cta a:active {
  background-color: var(--primary-color);
  color: #000;
  transition: var(--transition);
}
.hero__cta-bike {
  /*   -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
  mask-image: linear-gradient(to top, transparent 5%, black 50%); */
  width: 1800px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -5%);
  z-index: 10;
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0.15) 50%,
    rgb(0, 0, 0) 70%
  );
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0.05) 50%,
    rgb(0, 0, 0) 70%
  );
}
.hero__cta-bike img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__logo {
  flex-basis: 50%;
}
.hero__logo img {
  max-width: 100%;
  height: auto;
  transform: translateX(5vw);
}

.about {
  margin-top: 280px;
  position: relative;
  z-index: 12;
}
.about h2 {
  font: var(--title-section);
  color: var(--title-color);
  text-transform: uppercase;
  text-align: center;
}
.about p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 45px;
}
.about img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.about__services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 80px 0;
}
.about__services div {
  flex-grow: 1;
}

.about__services p {
  width: 150px;
  margin: 0 auto;
}
.about__services svg {
  fill: #fff;
  width: 100%;
  max-height: 100%;
  height: 250px;
}

@media screen and (max-width: 1340px) {
  .about__services {
    row-gap: 80px;
  }
  .about__services div {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 768px) {
  .header__contact {
    display: none;
  }
  .nav__contact {
    flex-basis: 0;
  }
  .nav__links {
    flex-direction: column;
    align-items: start;
    row-gap: 50px;
  }
  .links {
    line-height: 60px;
  }

  .spacer {
    display: none;
  }

  .nav__header .logo {
    justify-content: start;
  }

  .menu-btn {
    margin-left: 0;
  }

  .hero__logo {
    display: none;
  }

  .about {
    margin-top: 240px;
  }
  .about > p {
    width: 80%;
    line-height: 40px;
  }
  .about__services {
    justify-content: center;
    row-gap: 80px;
  }
  .about__services div {
    flex-basis: auto;
  }
  .about__services svg {
    height: 200px;
  }
}

@media screen and (max-width: 576px) {
  .about {
    margin-top: 180px;
  }
  .about > p {
    width: 90%;
    line-height: 35px;
  }
  .about__services {
    row-gap: 40px;
  }
}
@media screen and (max-width: 426px) {
  .about {
    margin-top: 130px;
  }
  .hero__cta h1 {
    font-size: clamp(40px, 16px + 4vw, 80px);
  }
}

@media (hover: none) {
  .contact,
  .menu-btn {
    cursor: default;
  }
}
