:root {
  --color-primary: #ffc100;
  --color-secondary: #292929;
  --transition: all ease-out 0.3s;

  --title-section: normal normal 900 clamp(36px, 12vw, 230px) / 1 Termina;
  --title-color: #434343;
}

body {
  font-family: termina, sans-serif;
  background-color: var(--color-secondary);
  color: #fff;
  position: relative;
}

.container {
  width: 90vw; /* width 1920px === margin 140px */
  max-width: 1640px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
header:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.1);
  backdrop-filter: blur(18px);
  position: absolute;
  z-index: -1;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* CONTACT */
.contact {
  display: inline-block;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  white-space: nowrap;
  transition: var(--transition);
  line-height: 1;
}
.contact:hover,
.contact:active {
  background-color: var(--color-primary);
  color: #000;
}
.contact ul {
  display: inline-block;
  border-left: 1px solid var(--color-primary);
  padding: 10px 28px 10px 15px;
}
.contact ul li:first-child {
  font-size: 16px;
  font-weight: bold;
}
.contact ul li {
  font-size: 12px;
}
.contact::before {
  content: '';
  display: inline-block;
  height: 32px;
  width: 32px;
  background: url('../icons/service-light.svg') no-repeat center/contain;
  transform: translateY(-4px);
  margin: 0 10px;
  transition: background-image 0.3s;
}
.contact:hover::before,
.contact:active::before {
  background: url('../icons/service-dark.svg') no-repeat center/contain;
}

.header .logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 6px);
  z-index: 11;
}
.header .logo svg {
  width: 236px;
  height: 32px;
}

/* MENU TOGGLE */
.menu-btn {
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 11;
}
.menu-btn:before,
.menu-btn:after {
  background-color: #fff;
  content: '';
  display: block;
  width: 36px;
  height: 4px;
  margin-left: auto;
  transition: all 200ms ease-in-out;
}
.menu-btn:before {
  box-shadow: 0 11px 0 #fff;
  margin-bottom: 18px;
}
.open.menu-btn:before {
  box-shadow: 0 0 0 #fff;
  transform: translateY(11px) rotate(45deg);
}
.open.menu-btn:after {
  transform: translateY(-11px) rotate(-45deg);
}
.menu-btn:hover:before,
.menu-btn:hover:after {
  background-color: #ffc100;
}
.menu-btn:hover:before {
  box-shadow: 0 11px 0 #ffc100;
}
.open.menu-btn:hover:before {
  box-shadow: 0 0 0;
}

/* MENU OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding-bottom: 130px; */
  padding-top: 100px;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(56px);
  /*   overflow: auto;
 */
  transition: var(--transition);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.overlay > div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  height: calc(100vh - 100px);
  overflow: auto;
  padding-bottom: 5px;
}
.show {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

nav {
  padding-right: 40px;
}
nav li {
  font-weight: 900;
  font-size: clamp(16px, 32px + 2vw, 70px);
  line-height: clamp(16px, 62px + 2vw, 102px);
  text-transform: uppercase;
  white-space: nowrap;
}
nav li a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.overlay .contact {
  margin-bottom: 25px;
}
.overlay .contact ul li:first-child {
  font-size: 32px;
}
.overlay .contact ul li {
  font-size: 24px;
}
.overlay .contact::before {
  height: 68px;
  width: 68px;
  margin: 0 30px;
}
.overlay .contact ul {
  display: inline-block;
  border-left: 1px solid var(--color-primary);
  padding: 20px 55px 20px 25px;
}

/* MAIN CONTENT*/
main {
  margin-top: 100px;
}

.hero {
  background: url('../images/uvod-logo.png') no-repeat right
    top/calc(100vw * (850 / 1920)) auto;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.05) 30%,
    rgb(0, 0, 0) 60%
  );
}
.hero::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: calc(100vw * (1280 / 1920));
  margin-top: -8.33vw; /* ((160 / 1920) * 100) */
  background: url('../images/motorka.png') no-repeat 50% / cover;
}

.hero div {
  padding-top: clamp(20px, 3.38vw, 65px);
}

.hero h1 {
  font-weight: 300;
  font-size: clamp(26px, 4.79vw, 92px);
  white-space: nowrap;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.hero h1 span {
  font-weight: 900;
}
.hero h1 span:first-child {
  display: block;
}
.hero p {
  width: 45%;
  line-height: 2;
  margin-bottom: 2.86vw;
}

.hero a {
  display: inline-block;
  border: 1px solid var(--color-primary);
  padding: 17px 40px 15px 40px;
  border-radius: 5px;
  font-weight: 900;
  font-size: 18px;
  position: relative;
}
.hero a:hover,
.hero a:active {
  background-color: var(--color-primary);
  color: #000;
  transition: var(--transition);
}

/* ABOUT */
/* ABOUT */
.about {
  margin-top: 280px;
  position: relative;
  z-index: 12;
}
.title {
  font: var(--title-section);
  color: var(--title-color);
  text-transform: uppercase;
  text-align: center;
}
.about > p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 45px;
}
.about img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.about__services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 80px;
}
.about__services div {
  flex-grow: 1;
}
.about__services p {
  width: 150px;
  margin: 0 auto;
  text-align: center;
}
.about__services svg {
  fill: #fff;
  width: 100%;
  max-height: 100%;
  height: 250px;
}

.space {
  margin-top: 150px;
}
.space h2 {
  width: 95%;
  margin: 0 auto;
}
.space__carousel {
  max-width: 100%;
  min-height: 700px;
  position: relative;
  overflow: hidden;
}
.space__carousel img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: auto;
}
#space1 {
  left: 0;
}
#space3 {
  left: 100%;
}

@media screen and (max-width: 900px) {
  .header {
    justify-content: end;
  }
  .header .contact {
    display: none;
  }
  nav {
    padding-right: 0;
  }

  .hero {
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0.05) 30%,
      rgb(0, 0, 0) 55%
    );
  }
}

@media screen and (max-width: 768px) {
  .hero {
    background: none;
  }
  .hero h1 span:first-child {
    display: inline;
  }
  .hero p {
    width: 75%;
    font-size: clamp(12px, 2.5vw, 16px);
  }
  .hero a {
    padding: 2.65vw 6.25vw 2.34vw 6.25vw;
    border-radius: 5px;

    font-size: clamp(14px, 2.8vw, 18px);
  }
}

@media screen and (max-width: 640px) {
  .header {
    justify-content: space-between;
  }
  .header .logo {
    position: relative;
    left: 0;
    transform: translate(0, 6px);
  }

  nav li {
    font-size: clamp(16px, 7vw, 40px);
    line-height: clamp(16px, 10vw, 102px);
  }

  .overlay {
    padding-bottom: 50px;
  }
  .overlay > div {
    justify-content: space-between;
  }
  .overlay .contact ul {
    padding: 10px 28px 10px 15px;
  }
  .overlay .contact ul li:first-child {
    font-size: 16px;
  }
  .overlay .contact ul li {
    font-size: 12px;
  }
  .overlay .contact::before {
    height: 32px;
    width: 32px;
    margin: 0 10px;
  }

  .hero {
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.05) 25%,
      rgb(0, 0, 0) 50%
    );
  }
}

@media (min-width: 1487px) and (min-height: 740px) {
  .overlay > div {
    padding-bottom: 130px;
  }
}

/* @media screen and (max-width: 426px) {
} */

/* @media screen and (max-width: 768px) {
  .header__contact {
    display: none;
  }
  .nav__contact {
    flex-basis: 0;
  }
  .nav__links {
    flex-direction: column;
    align-items: start;
    row-gap: 50px;
  }
  .links {
    line-height: 60px;
  }

  .spacer {
    display: none;
  }

  .nav__header .logo {
    justify-content: start;
  }

  .menu-btn {
    margin-left: 0;
  }

  .hero__logo {
    display: none;
  }
  .hero__cta-bike {
    transform: translate(-50%, 5%);
  }

  .about {
    margin-top: 240px;
  }
  .about > p {
    width: 80%;
    line-height: 40px;
  }
  .about__services {
    justify-content: center;
    row-gap: 80px;
  }
  .about__services p {
    font-size: 14px;
  }
  .about__services div {
    flex-basis: auto;
  }
  .about__services svg {
    height: 200px;
  }

  .space {
    margin-top: 100px;
  }
}

@media screen and (max-width: 576px) {
  .about {
    margin-top: 200px;
  }
  .about > p {
    width: 90%;
    line-height: 35px;
  }
  .about__services {
    row-gap: 40px;
  }
  .about__services svg {
    height: 120px;
  }
  @media screen and (max-width: 426px) {
    .about {
      margin-top: 150px;
    }
    .hero__cta h1 {
      font-size: clamp(32px, 16px + 4vw, 80px);
    }
    .about__services svg {
      height: 100px;
    }
    .about__services p {
      font-size: 13px;
    }
    .about > p {
      width: 90%;
      line-height: 30px;
    }
  }
  .space {
    margin-top: 80px;
  }
}
@media screen and (max-width: 426px) {
  .about {
    margin-top: 150px;
  }
  .hero__cta h1 {
    font-size: clamp(32px, 16px + 4vw, 80px);
  }
  .about__services svg {
    height: 100px;
  }
  .about__services p {
    font-size: 13px;
  }
  .about > p {
    width: 90%;
    line-height: 30px;
  }
} */
